a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
}

.header__ttl {
    color: #ec87ef;
    font-size: 32px;
    font-family: "Times New Roman";
}

.header__nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.header__nav-item {
    width: 55%;
    padding: 5px 0;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #cdcdcd;
}

.header__nav-item a::before {
    content: '';
    display: inline-block;
    background-image: url(../images/gear.svg);
    background-size: cover;
    vertical-align: sub;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.auth-form {
    width: 40%;
}

.header__nav-btn {
    padding: 7px 0;
}

.header__nav-btn::before {
    content: '';
    display: inline-block;
    background-image: url(../images/logout.svg);
    background-size: cover;
    vertical-align: sub;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.header__nav-btn {
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #cdcdcd;
}

main {
    background-color: #f9f9f9;
    padding: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
}

.container:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weight-item {
    padding-left: 20px;
    width: 33.3%;
}

.weight-item:nth-of-type(3),
.weight-item:last-of-type {
    padding-left: 50px;
}

.vertical-line {
    border: 1px solid #cdcdcd;
    height: 70px;
}

.emphasis {
    font-size: 32px;
    font-weight: bold;
    margin-right: 5px;
}

.search-create__item {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
}

.search-form__input {
    margin-right: 10px;
}

.search-form__input input {
    width: 160px;
    padding: 5px;
    border: 1px solid #e0dfde;
    color: #e0dfde;
}

.search-form__btn {
    width: 80px;
}

.search-form__btn button {
    width: 100%;
    padding: 4px;
    color: white;
    background-color: #919191;
    border: none;
}

.create-btn {
    width: 100px;
}

.open-btn {
    width: 100%;
    padding: 5px;
    color: white;
    background: linear-gradient(90deg,#a3a6e1, #ffabd9);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.pigly-table {
    width: 100%;
}

.pigly-table__header,
.pigly-table__item {
    padding: 8px 0;
}

.pigly-table__row:first-of-type {
    background-image: linear-gradient(90deg, #a3a6e1, #ffabd9);
    background-repeat: no-repeat;
    background-size: 100% 2%;
    background-position: bottom;
}

.pigly-table__row:not(first-of-type) {
    border-bottom: 1px solid #f7f7f7;
}

.pigly-table__header {
    text-align: left;
}

.pigly-table__header:first-of-type {
    padding-left: 3%;
    width: 30%;
}

.pigly-table__header:nth-of-type(2) {
    padding-left: 1%;
    width: 20%;
}

.pigly-table__header:nth-of-type(3) {
    width: 30%;
}

.pigly-table__header:nth-of-type(4) {
    width: 15%;
}

.pigly-table__item:first-of-type {
    padding-left: 3%;
}

.pigly-table__item:nth-of-type(3) {
    padding-left: 3%;
}

.pigly-table__item:nth-of-type(4) {
    padding-left: 1%;
}

.pigly-table__item:last-of-type {
    position: relative;
}

.pigly-table__item:last-of-type a {
    color: white;
}

.pigly-table__item:last-of-type::before {
    content: '';
    display: inline-block;
    background-image: url(../images/pen.svg);
    background-size: cover;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    position: absolute;
    pointer-events: none;
}

*::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.pigly__popover {
    width: 60vw;
    border: none;
    position: relative;
    padding: 15px;
}

.pigly__close {
    position: absolute;
    left: 15vw;
    bottom: 15px;
    width: 15vw;
}

.close-btn {
    width: 100%;
    background-color: #e0dfde;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.create-ttl {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.create-form {
    width: 100%;
}

.create-form__item {
    width: 100%;
    margin-bottom: 20px;
}

.create-form__ttl {
    display: block;
    margin-bottom: 5px;
}

.require::after {
    margin-left: 10px;
    padding: 0 5px;
    content: "必須";
    color: white;
    background-color: red;
    border-radius: 5px;
}

.create-form__input {
    width: 100%;
    padding: 5px;
    border: 1px solid #e0dfde;
}

.create-form__input-unit {
    width: 95%;
    padding: 5px;
    border: 1px solid #e0dfde;
}

.create-form__textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #e0dfde;
}

.create-form__btn-submit {
    margin-left: 30vw;
    width: 15vw;
    padding: 5px;
    color: white;
    background: linear-gradient(90deg, #a3a6e1, #ffabd9);
    border: none;
    border-radius: 5px;
}

.create-form__btn-submit:hover {
    transform: scale(1.1, 1.1);
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    padding: 0 5px;
}

.active {
    background: linear-gradient(90deg, #a3a6e1, #ffabd9);
    color: white;
}

.form-item__error {
    color: red;
}
